.list {
  counter-reset: li;
  list-style: none;
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.list a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}

.list a:hover {
  background: #e9e4e0;
}

.list a:hover:before {
  transform: rotate(360deg);
}

.list a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8fd4c1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
